.skills li {
  list-style: none;
  display: inline-block;
  padding: 16px 16px;
  margin: 30px;
  color: rgb(170, 170, 170);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 80%;
}

.skills-second {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
}
