.skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills > div {
  margin: 20px;
}

.skills-second {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
}
